body {
  background-color: #4352a5;
  overflow: hidden; }

.head {
  position: relative;
  margin-top: 0.23rem;
  height: 2.14rem;
  line-height: 2.14rem;
  text-align: center; }

.character {
  position: absolute;
  top: 0;
  height: 2.07rem;
  width: 2.52rem; }
  .character .logo {
    position: absolute;
    top: 0.15rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    border: 0.12rem solid #ffffff;
    box-sizing: border-box; }
  .character.left {
    left: 0;
    background-color: #5082e5;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%; }
    .character.left .logo {
      right: 0.15rem; }
  .character.right {
    right: 0;
    background-color: #b93157;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%; }
    .character.right .logo {
      left: 0.15rem; }

.timer-process {
  position: relative;
  display: inline-block;
  width: 1.7rem;
  height: 1.7rem;
  border: 0.06rem solid #fff;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: bottom; }
  .timer-process .wrapper {
    width: 0.85rem;
    height: 1.7rem;
    position: absolute;
    top: 0;
    overflow: hidden; }
    .timer-process .wrapper .circle {
      width: 1.3rem;
      height: 1.3rem;
      border: 0.2rem solid transparent;
      border-radius: 50%;
      position: absolute;
      top: 0;
      transform: rotate(45deg); }
    .timer-process .wrapper .rightcircle {
      border-top: 0.2rem solid #f05a4c;
      border-right: 0.2rem solid #f05a4c;
      right: 0;
      animation: timer-right 10s linear 1;
      animation-play-state: paused; }
    .timer-process .wrapper .leftcircle {
      border-bottom: 0.2rem solid #f05a4c;
      border-left: 0.2rem solid #f05a4c;
      left: 0;
      animation: timer-left 10s linear 1;
      animation-play-state: paused; }
  .timer-process .right {
    right: 0; }
  .timer-process .left {
    left: 0; }
  .timer-process .inner {
    width: 1.18rem;
    height: 1.18rem;
    line-height: 1.18rem;
    border: 0.06rem solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    color: #ffffff;
    text-align: center;
    font-size: 0.54rem;
    background-color: #4352a5; }

@keyframes timer-right {
  0% {
    transform: rotate(45); }
  50%,
  100% {
    transform: rotate(225deg); } }

@keyframes timer-left {
  0%,
  50% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(225deg); } }

.topic {
  margin-top: 2.24rem;
  padding: 0 1.34rem;
  line-height: 1.5;
  color: #fff;
  font-size: 0.47rem; }

.options-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1.62rem;
  height: 7.97rem; }
  .options-wrapper > p {
    width: 6.34rem;
    margin: 0 auto;
    height: 1.62rem;
    line-height: 1.62rem;
    background-color: #ffffff;
    color: #4e5393;
    font-size: 0.51rem;
    text-align: center;
    margin-bottom: 0.3rem;
    border-radius: 0.25rem; }

.score-bar {
  height: 7.79rem;
  width: 0.48rem;
  border: 0.07rem solid #4b6abd;
  box-sizing: border-box;
  border-radius: 0.2rem;
  background-color: #1c3673; }
  .score-bar.left {
    position: absolute;
    left: 0.92rem;
    bottom: 0; }
  .score-bar.right {
    position: absolute;
    right: 0.92rem;
    bottom: 0; }
  .score-bar > .score {
    position: absolute;
    width: 2.16rem;
    font-size: 0.54rem;
    color: #63bafd;
    top: -0.79rem;
    left: 50%;
    margin-left: -1.08rem;
    text-align: center; }

.score-process-bar {
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  border-radius: 0.2rem;
  background-color: #f4584b;
  transition: all 0.5s ease-out; }
